* {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 70px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.navbar__logo {
    color: #08A6E4;
    font-weight: 300;
    font-size: 32px;
}

.header {
    text-align: center;
    padding-left: 2.5em;
    width: 310px;
    height: 325px;
    display: flex;
    flex-direction: column;
}

.header__sell {
    margin-top: 3em;
    padding-bottom: 0.75em;
}

.header__info {
    padding-bottom: 2em;
    font-size: 16px;
    width: 250px;
    margin-left: 1.5em;
}

.header__button {
    width: 19.375rem;
    height: 4rem;
    border-radius: 40px;
    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
    background: rgba(8, 166, 228, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

.popular__entries {
    text-align: center;
}

.popular__img {
    width: 100%;
}

.popular__fact {
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0em;
    width: 250px;
    text-align: center;
    padding-left: 2.2em;
}

.popular__entries-img {
    margin-top: 2rem;
}

.popular__entries-img-circle {
    position: absolute;
}

.popular__entries-img-person {
    position: relative;
    padding-left: 2em;
}

.popular__entries-number {
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2em;
}

.popular__entries-text {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(165, 165, 165, 1);
    text-align: center;
}

.popular__entries-img-eye {
    position: relative;
    padding-top: 1em;
    padding-left: 1.2em;
}

.popular__entries-text-products {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(165, 165, 165, 1);
    text-align: center;
    width: 7em;
    padding-left: 8em;
}

.popular__entries-img-files {
    position: relative;
    padding-top: 0.75em;
    padding-left: 2em;
    height: 2.5em;
}

.popular__entries-text-posts {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(165, 165, 165, 1);
    text-align: center;
    width: 5em;
    padding-left: 9em;
    padding-bottom: 3em;
}

.card__circle-img {
    position: absolute;
    padding-left: 5em;
}

.card__computer-img {
    position: relative;
}

.card__article {
    width: 314px;
    height: 340px;
    background-color: white;
    margin-bottom: 1em;
    margin-top: 1em;
}

.card__text {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 1em;
}

.card__text-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    padding-left: 2em;
}

.card__img {
    padding-left: 4em;

}

.card {
    background: rgba(247, 247, 247, 1);
    padding: 2em;
}

.card_mobile-img {
    position: relative;
}

.card__text-shop {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 1em;
    width: 218px;
}

.pricing__header {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.pricing__container {
    height: auto;
}

.pricing__container-basic {
    position: absolute;
    width: 17em;
    height: 10em;
    border-radius: 18px;
    border: 1px solid rgba(251, 59, 100, 1);
    margin-left: 3.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3em;
}

.pricing__list {
    list-style: none;
    padding: 0;
}

.pricing__list-items {
    padding-top: 0.9em;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 0.2em;
    text-align: left;
}

.pricing__container-basic-basic- {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-left: .75em;
    padding-bottom: 1em;
}

.pricing__container-basic-price {
    font-size: 46px;
    font-weight: 300;
    text-align: center;
    padding-left: .25em;
    color: rgba(251, 59, 100, 1);
    ;
}

.pricing__basic-button {
    position: relative;
    width: 9.375em;
    height: 3.125em;
    border-radius: 23px;
    text-align: center;
    left: 10em;
    top: 14.5em;
    background: rgba(235, 71, 110, 1);
    color: rgba(255, 255, 255, 1);
}

.pricing__container-separation {
    margin-top: 14em;
}

.pricing__container-professional {
    position: absolute;
    width: 21em;
    height: 12em;
    border-radius: 18px;
    border: 1px solid rgba(7, 172, 230, 1);
    margin-left: 1.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3em;
}

.pricing__container-professional-professional {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: .50em;
    padding-top: 3.5em;
}

.pricing__container-professional-price {
    font-size: 46px;
    font-weight: 300;
    text-align: center;
    color: rgba(7, 172, 230, 1);
    padding-bottom: 0.15em;

}

.pricing__list-professional {
    padding-top: 1.6em;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 0.4em;
    text-align: left;
    padding-right: 1.5em;
}

.pricing__limited-offer {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: rgba(19, 37, 59, 1);
}

.pricing__professional-button {
    width: 150px;
    height: 50px;
    border-radius: 23px;
    background: rgba(7, 172, 230, 1);
    position: relative;
    left: 9em;
    top: 16.3em;
    color: rgba(255, 255, 255, 1);
}

.pricing__container-premium {
    border: 1px solid rgba(85, 223, 180, 1);
    position: absolute;
    width: 17em;
    height: 10em;
    border-radius: 18px;
    margin-left: 3.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3em;
    margin-top: 1.5em;
}

.pricing__container-premium-price {
    font-size: 46px;
    font-weight: 300;
    text-align: center;
    color: rgba(85, 223, 180, 1);

}

.pricing__container-professional-premium {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 3em;

}

.pricing__premium-button {
    position: relative;
    width: 9.375em;
    height: 3.125em;
    border-radius: 23px;
    background: rgba(85, 223, 180, 1);
    left: 9.5em;
    top: 16em;
    color: white;
}

.questions__header {
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    padding-left: 0.75em;
}

.questions__leave {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 2em;
    padding-bottom: 2em;
}

.question__email {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: rgba(165, 165, 165, 1);
    padding-left: .75em;
    padding-bottom: 1em;
}

.questions__email-img {
    display: flex;
    padding-left: 1.75em;
}

.information__line {
    border: 0.5px solid rgba(149, 152, 154, 1);
    padding-top: 4em;
}

.separation-line {
    margin: 2em;

}

.form-text {
    padding-left: 2.3em;
    color: rgba(8, 166, 228, 1);
    font-size: 11px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 3.2799999713897705px;
}

.question__separation {
    margin-top: 2em;
}