.navbar {
  text-align: center;
  height: 5em;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  padding-top: 1.3em;
  text-align: left;
  transition: all 0.3s;
  margin-bottom: 1em;
  position: relative;
}

.navbar.active {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.navbar__logo {
  display: inline;
  color: #08A6E4;
  font-weight: 300;
  font-size: 32px;
  font-family: "Raleway";
  padding-right: 2.5em;
  margin-left: 1em;
}

.icon {
  cursor: pointer;
  position: absolute;
  right: 2em;
  top: 2.2em;
}

.icon-2 {
  display: none;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: none;
  text-align: left;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.navbar ul li {
  display: block;
  margin-right: 15px;
  margin-top: 2em;
  margin-bottom: 1em;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
  font-size: 0.8em;
  font-family: "Raleway";
  margin-left: 3em;
}

.progress-container {
  width: 100%;
  height: 8px;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  z-index: 3;
}

.progress-bar {
  height: 100%;
  background-color: #08A6E4;
  width: 0;
}

.header {
  text-align: center;
}
.header__sell {
  margin-top: 3em;
  margin-bottom: 0.75em;
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
}
.header__info {
  margin-bottom: 2em;
  font-size: 16px;
  margin-left: 2em;
  margin-right: 2em;
  font-family: "Open Sans";
  font-weight: 400;
}
.header__button {
  padding: 1.5em;
  padding-left: 5.2em;
  padding-right: 5.2em;
  border-radius: 40px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  background: rgb(8, 166, 228);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 700;
  border: none;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.popup-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

input {
  margin: 10px 0;
  padding: 8px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.popular__img {
  max-width: 100%;
  padding-top: 50px;
  display: none;
}
.popular__img-mobile {
  padding-top: 50px;
  width: 100%;
}
.popular__entries {
  text-align: center;
}
.popular__entries-img {
  position: relative;
  margin-bottom: 1em;
  text-align: center;
}
.popular__entries-img-circle {
  position: relative;
}
.popular__entries-img-person {
  position: absolute;
  left: 50%;
}
.popular__entries-img-eye {
  position: absolute;
  left: 50%;
}
.popular__entries-img-files {
  position: absolute;
  left: 50%;
  padding-top: 0.5em;
}
.popular__fact {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  font-family: "Raleway";
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.popular__entries-number {
  margin-bottom: 1em;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-align: center;
}
.popular__entries-text {
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgb(165, 165, 165);
  margin-bottom: 2em;
  margin-left: 7em;
  margin-right: 7em;
}

.card {
  background: rgb(247, 247, 247);
  padding: 2em;
}
.card__img {
  text-align: center;
}
.card__img-brand {
  text-align: center;
}
.card__img__computer {
  width: 11em;
  height: 6em;
  position: relative;
  top: 2em;
  margin-bottom: 3em;
}
.card__img__circle {
  position: absolute;
  width: 6em;
  height: 6em;
  left: 52%;
  margin-top: 0.7em;
}
.card__img__circle-blue {
  width: 8em;
  height: 8em;
  margin-top: 1em;
  position: absolute;
  margin-left: 1em;
}
.card__img__mobile {
  width: 10em;
  height: 8em;
  position: relative;
  margin-left: 1.2em;
  margin-top: 1.5em;
}
.card__img__rectangle {
  width: 19.4em;
  height: 12.3em;
  position: absolute;
}
.card__img__trumpet {
  position: relative;
  width: 19em;
  height: 12em;
  top: 3em;
  right: 1em;
}
.card__article {
  background-color: white;
  margin-bottom: 2em;
  margin-top: 1em;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}
.card__text {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0em;
  margin-left: 0.75em;
  margin-right: 1.25em;
  margin-top: 0.2em;
  font-family: "Raleway";
  padding-top: 1em;
  max-width: 8em;
  margin-left: auto;
  margin-right: auto;
}
.card__text-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justify;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2em;
  margin-top: 3em;
  font-family: "Open Sans";
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
}
.card__text-info--brand {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2em;
  margin-top: 1.5em;
  font-family: "Open Sans";
  max-width: 22em;
  margin-left: auto;
  margin-right: auto;
}
.card__text-shop--increase {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0em;
  margin-left: 0.75em;
  margin-right: 1.25em;
  margin-top: 0.2em;
  font-family: "Raleway";
  padding-top: 1em;
  max-width: 8em;
  margin-left: auto;
  margin-right: auto;
}
.card__text-shop {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0em;
  margin-left: 0.75em;
  margin-right: 1.25em;
  margin-top: 1em;
  font-family: "Raleway";
  max-width: 8em;
  margin-left: auto;
  margin-right: auto;
}
.card__text-shop-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2em;
  margin-top: 1em;
  font-family: "Open Sans";
  max-width: 25em;
  min-width: 20em;
  margin-left: auto;
  margin-right: auto;
}

.pricing {
  margin-bottom: 3em;
}
.pricing__header {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-family: "Raleway";
}
.pricing__container-basic, .pricing__container-professional, .pricing__container-premium {
  border-radius: 18px;
  position: relative;
  font-family: "Raleway";
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}
.pricing__container-basic-display, .pricing__container-professional-display, .pricing__container-premium-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pricing__container-basic .pricing__container-basic-price, .pricing__container-basic .pricing__container-professional-price, .pricing__container-basic .pricing__container-premium-price, .pricing__container-professional .pricing__container-basic-price, .pricing__container-professional .pricing__container-professional-price, .pricing__container-professional .pricing__container-premium-price, .pricing__container-premium .pricing__container-basic-price, .pricing__container-premium .pricing__container-professional-price, .pricing__container-premium .pricing__container-premium-price {
  font-size: 46px;
  font-weight: 300;
  font-family: "Open Sans";
}
.pricing__container-basic:hover, .pricing__container-professional:hover, .pricing__container-premium:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.pricing__container-basic {
  border: 1px solid rgb(251, 59, 100);
}
.pricing__container-basic-price {
  color: rgb(251, 59, 100);
}
.pricing__container-professional {
  border: 1px solid rgb(7, 172, 230);
}
.pricing__container-professional-professional {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.pricing__container-professional-price {
  text-align: center;
  color: rgb(7, 172, 230);
  padding-bottom: 0.15em;
}
.pricing__container-premium {
  border: 1px solid rgb(85, 223, 180);
  border-radius: 18px;
}
.pricing__container-premium-price {
  text-align: center;
  color: rgb(85, 223, 180);
}
.pricing__container-premium-professional {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 1em;
}
.pricing__list, .pricing__list-professional {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 2.5em;
}
.pricing__list-items, .pricing__list-professional {
  padding-top: 0.9em;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0.2em;
  text-align: left;
  font-family: "Open Sans";
  line-height: 1.7em;
}
.pricing__limited-offer {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: rgb(19, 37, 59);
  font-family: "Raleway";
}
.pricing__basic-button, .pricing__professional-button, .pricing__premium-button {
  border-radius: 23px;
  text-align: center;
  background: transparent;
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: none;
  position: absolute;
  top: 92%;
}
.pricing__basic-button {
  background: rgb(235, 71, 110);
  left: 25%;
}
.pricing__professional-button {
  background: rgb(7, 172, 230);
  left: 25%;
}
.pricing__premium-button {
  background: rgb(85, 223, 180);
  left: 25%;
}

.slider-img {
  width: 300px;
  height: 200px;
}

.slider-container {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider {
  position: relative;
}

.slider img {
  display: none;
}

.slider img.active {
  display: block;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-controls button {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.slider-dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.slider-dots span.active {
  background: #fff;
}

.currency-selector {
  text-align: center;
}

.questions__header {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  padding-left: 0.75em;
  font-family: "Raleway";
  margin-top: 2em;
}
.questions__leave {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding-left: 2em;
  padding-bottom: 2em;
  font-family: "Open Sans";
}
.questions__email {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: rgb(165, 165, 165);
  padding-left: 0.75em;
  padding-bottom: 1em;
  font-family: "Open Sans";
}
.questions__email-img {
  display: flex;
  padding-left: 1.75em;
}
.questions__form__checkbox {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: top;
  margin-left: 2em;
}
.questions__form__checkbox-text {
  display: inline-block;
  width: 75%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #707070;
}
.questions__form-text {
  padding-left: 2.3em;
  color: rgb(8, 166, 228);
  font-size: 11px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 3.2799999714px;
  font-family: "Open Sans";
}
.questions__form-input {
  width: 85%;
  margin-right: 1em;
  margin-left: 2em;
  border: none;
  border-bottom: 1px solid #95989a;
  line-height: 40px;
  margin-bottom: 2em;
}
.questions__form-checkbox {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: top;
  margin-left: 2em;
}
.questions__form-checkbox-text {
  display: inline-block;
  width: 75%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #707070;
}
.questions__button {
  padding-left: 7.5em;
  padding-right: 7.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 35px;
  background: rgb(8, 166, 228);
  color: white;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  position: relative;
  left: 7em;
  top: 3em;
  font-family: "Open Sans";
  font-weight: 700;
  border: none;
}
.questions .error {
  border-color: red;
}

.footer {
  width: 100%;
  height: 80px;
  margin-top: 5em;
  background: rgb(247, 247, 247);
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
.footer__display {
  align-items: center;
  display: inline-block;
  padding-right: 5em;
  padding-top: 1em;
  padding-left: 1em;
}
.footer__display-img {
  display: inline-block;
}
.footer__display-img-tw {
  margin-right: 1em;
  position: absolute;
  right: 5em;
  bottom: 1.5em;
}
.footer__display-img-fc {
  margin-right: 1em;
  position: absolute;
  right: 2em;
  bottom: 1.5em;
}
.footer__icon {
  font-size: 26px;
  font-weight: 300;
  color: rgb(8, 166, 228);
  font-family: "Raleway";
}
.footer__rights {
  font-size: 11px;
  font-weight: 400;
  color: rgb(165, 165, 165);
  font-family: "Open Sans";
}

@media (min-width: 1000px) {
  .navbar__logo {
    display: flex;
  }
  .popular {
    margin-top: 8em;
    margin-bottom: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .popular__img {
    max-width: 100%;
    padding-top: 50px;
    display: block;
    width: 100%;
  }
  .popular__img-mobile {
    padding-top: 50px;
    display: none;
  }
  .popular__entries-text {
    width: 8em;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .card__article {
    width: 60%;
    min-height: 22em;
    margin-top: 4em;
    min-width: 50em;
    max-width: none;
  }
  .card__article--be {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .card__article-shop {
    display: flex;
    justify-content: space-between;
  }
  .card__text-display {
    width: 40%;
  }
  .card__text {
    margin-top: 3em;
  }
  .card__img {
    position: relative;
  }
  .card__img__computer {
    height: 14em;
    width: 24em;
    right: 4em;
    top: 5em;
  }
  .card__img__circle {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 44.5%;
    top: 1em;
  }
  .card__img__mobile {
    width: 22em;
    height: 20em;
    margin-left: 4em;
  }
  .card__img__circle-blue {
    height: 19em;
    width: 19em;
    margin-left: 4em;
  }
  .card__text-info {
    max-width: 30em;
  }
  .card__text-shop-info {
    max-width: 30em;
  }
  .card__text-shop {
    width: 8em;
    margin-bottom: 1em;
    margin-top: 2.5em;
  }
  .card__img__rectangle {
    width: 25em;
    height: 22em;
    max-width: none;
  }
  .card__text-display-brand {
    max-width: 42%;
  }
  .card__img__trumpet {
    top: 7em;
    left: 2em;
  }
  .card__img-brand {
    background-color: rgb(247, 247, 247);
    width: 30em;
    height: 22em;
  }
  .card__text-shop--increase {
    margin-top: 1em;
    width: 70%;
  }
  .card__text-info--brand {
    max-width: none;
  }
  .pricing__basic-button, .pricing__professional-button, .pricing__premium-button {
    top: 95%;
  }
  .pricing-display {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pricing__container-basic-display {
    display: block;
  }
  .pricing__container-basic, .pricing__container-professional, .pricing__container-premium {
    margin: 2.5em;
  }
  .pricing__container-basic {
    border-radius: 18px;
    border: 1px solid rgb(251, 59, 100);
    position: relative;
    margin: 2.5em;
    font-family: "Raleway";
  }
  .pricing__container-basic-price {
    font-size: 46px;
    font-weight: 300;
    color: rgb(251, 59, 100);
    font-family: "Open Sans";
    margin-bottom: 0.4em;
  }
  .pricing__container-basic-display {
    text-align: center;
    padding-top: 1.5em;
    padding-left: 4.3em;
    padding-right: 4.3em;
    padding-bottom: 4em;
  }
  .pricing__container-basic-professional {
    border-radius: 18px;
    border: 1px solid rgb(7, 172, 230);
    margin: 1.5em;
    position: relative;
  }
  .pricing__container-basic-premium {
    border: 1px solid rgb(85, 223, 180);
    border-radius: 18px;
    margin: 2.5em;
    position: relative;
  }
  .questions {
    display: flex;
    justify-content: center;
  }
  .questions__display {
    margin-right: 5em;
  }
  .questions__form {
    margin-top: 3.5em;
    width: 30em;
  }
  .questions__link {
    margin-left: 1em;
    width: 90%;
    margin-left: 1em;
  }
  .questions__consent {
    display: flex;
  }
  .questions__checkbox {
    display: inline-block;
  }
  .questions__button {
    left: 50%;
  }
  .questions__header {
    margin-bottom: 0.5em;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer__display {
    margin-left: 2em;
  }
  .footer__display-img {
    margin-right: 5em;
    margin-top: 2em;
  }
  .slider-img {
    width: 700px;
    height: 400px;
  }
  .slider-container {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .progress-container {
    width: 100%;
  }
  .icon {
    display: none !important;
  }
  .navbar.active {
    position: fixed;
  }
  .navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    text-align: center;
    background-color: none;
    box-shadow: none;
    height: 3em;
    justify-content: space-between;
  }
  .navbar ul li {
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 0;
    background-color: none;
    align-items: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=style.css.map */
