@import 'styles/navbar.scss';
@import 'styles/header.scss';
@import 'styles/popular.scss';
@import 'styles/card.scss';
@import 'styles/pricing.scss';
@import 'styles/questions.scss';
@import 'styles/footer.scss';
@import 'styles/desktop.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-width: 320px;
}